<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>sites with a /now page</title>
  <meta name="description" content="list of URLs with a /now page">
  <meta name="author" content="Derek Sivers">
  <style type="text/css">
body { font-family: Georgia, serif; font-size: 18px; padding: 0 5px; margin: 0 auto; max-width: 40em; line-height: 1.6em; }
h1, h2, small { font-family: sans-serif; color: #900; }
small { display: block; font-size: 0.8em; margin-bottom: 1em;}
ul { margin: 0; padding: 0; }
li { list-style-type: none; margin-bottom: 0.75em; }
  </style>
</head>
<body>
<section id="content">
<h1>sites with a <a href="http://sivers.org/nowff">/now page</a>:</h1>
<small>
Re-load page to shuffle order.
Follow <a href="https://twitter.com/NowNowNow">@NowNowNow</a> for updates.
</small>
<ul>
<% @urls.each do |url| %>
<li><a href="<%= url[:long] %>"><%= url[:short] %></a><%= url[:profile] %></li>
<% end %>
</ul>
<h2>Total count: <%= @urls.size %></h2>
<p>To add one, email <a href="http://sivers.org/">me</a> at <a href="mailto:derek@sivers.org">derek@sivers.org</a></p>
<small>Last update: <%= Time.now %></small>
<small><a href="https://github.com/50pop/nownownow.com">See the code</a> that makes this site.</small>
</section>
<script>
var ul = document.getElementsByTagName('ul')[0];
var lis = ul.getElementsByTagName('li');
var lia = [];
var l = lis.length - 1;
for(l; l >= 0; l--) {
	lia.push(ul.removeChild(lis[l]));
}
var i = lia.length;
while (--i) {
	var j = Math.floor(Math.random() * (i + 1)),
		tmpi = lia[i],
		tmpj = lia[j];
	lia[i] = tmpj;
	lia[j] = tmpi;
}
i = lia.length;
while (--i) {
	ul.appendChild(lia.pop());
}
</script>
</body>
</html>
